In [21]:
import pandas as pd
import yfinance as yf

Tickers = ['^IXIC','AAPL','MSFT','AMZN','GOOG','FB','TSLA','GOOGL','NVDA','PYPL','ADBE','CMCSA','CSCO','NFLX','INTC',
          'PEP','AVGO','COST','MRNA','TMUS','TXN']

In [20]:
data = pd.DataFrame()

for i in Tickers:
    ticker = yf.Ticker('{}'.format(i))
    temp = ticker.history(period = '1y',interval = '1d')
    data = pd.concat([data,temp.iloc[:,3]],axis = 1)
    
data.columns = Tickers
data

,^IXIC,AAPL,MSFT,AMZN,GOOG,FB,TSLA,GOOGL,NVDA,PYPL,...,CMCSA,CSCO,NFLX,INTC,PEP,AVGO,COST,MRNA,TMUS,TXN
2020-08-11,10782.820312,108.676010,201.429657,3080.669922,1480.319946,256.130005,274.877991,1480.540039,108.373268,189.029999,...,42.203754,45.733547,466.929993,46.957134,131.192673,313.466431,321.393982,68.970001,113.589996,132.778061
2020-08-12,11012.240234,112.287788,207.183945,3162.239990,1506.619995,259.890015,310.951996,1507.239990,114.268867,191.320007,...,42.547356,46.615459,475.470001,47.931557,133.794769,322.763153,325.580231,69.519997,115.250000,135.315720
2020-08-13,11042.500000,114.275002,206.698624,3161.020020,1518.449951,261.299988,324.200012,1516.650024,114.296341,193.070007,...,42.596436,41.401505,481.329987,47.317673,134.086060,318.680695,324.555450,67.830002,115.370003,133.861435
2020-08-14,11019.299805,114.173164,206.896698,3148.020020,1507.729980,261.239990,330.141998,1504.630005,115.504913,191.460007,...,42.969486,41.188293,482.679993,47.639233,133.561737,317.132904,325.116150,69.150002,115.489998,134.056671
2020-08-17,11129.730469,113.875069,208.263489,3182.409912,1517.979980,261.160004,367.127991,1516.239990,123.225883,196.289993,...,42.733879,40.790951,482.350006,47.678211,133.911301,319.551331,328.673981,69.760002,116.870003,134.964355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-05,14895.120117,146.839996,289.519989,3375.989990,2738.800049,362.970001,714.630005,2725.030029,206.369995,280.670013,...,58.340000,55.759998,524.890015,53.889999,154.309998,487.670013,443.190002,416.260010,141.929993,193.160004
2021-08-06,14835.759766,146.139999,289.459991,3344.939941,2740.719971,363.510010,699.099976,2714.770020,203.660004,279.540009,...,58.689999,55.590000,520.549988,53.919998,154.330002,485.429993,439.630005,413.720001,142.229996,192.960007
2021-08-09,14860.179688,146.089996,288.329987,3341.870117,2760.040039,361.609985,713.760010,2738.260010,202.949997,278.149994,...,58.279999,55.470001,519.969971,54.049999,154.350006,484.679993,440.470001,484.470001,142.990005,190.449997
2021-08-10,14788.089844,145.600006,286.440002,3320.679932,2761.929932,361.130005,709.989990,2736.139893,199.360001,274.369995,...,58.450001,55.610001,515.840027,53.939999,154.429993,482.260010,443.029999,456.760010,143.199997,189.649994
2021-08-11,14744.887695,146.044998,286.789886,3281.850098,2755.330078,360.421204,707.500000,2734.689941,196.522598,276.667999,...,58.924999,55.955002,512.150024,54.220001,155.352905,483.815002,443.423889,373.153290,144.279999,189.720001

In [23]:
returns = ((data-data.shift(1))/data.shift(1))*100
returns

,^IXIC,AAPL,MSFT,AMZN,GOOG,FB,TSLA,GOOGL,NVDA,PYPL,...,CMCSA,CSCO,NFLX,INTC,PEP,AVGO,COST,MRNA,TMUS,TXN
2020-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-08-12,2.127643,3.323437,2.856723,2.647803,1.776646,1.468008,13.123643,1.803393,5.440086,1.211452,...,0.814148,1.928370,1.828970,2.075132,1.983416,2.965779,1.302529,0.797442,1.461400,1.911203
2020-08-13,0.274783,1.769750,-0.234246,-0.038579,0.785198,0.542527,4.260470,0.624322,0.024043,0.914698,...,0.115354,-11.185034,1.232462,-1.280751,0.217714,-1.264847,-0.314755,-2.430948,0.104124,-1.074734
2020-08-14,-0.210099,-0.089116,0.095828,-0.411260,-0.705981,-0.022961,1.832815,-0.792537,1.057403,-0.833895,...,0.875779,-0.514984,0.280474,0.679577,-0.391034,-0.485687,0.172759,1.946041,0.104009,0.145849
2020-08-17,1.002157,-0.261091,0.660615,1.092429,0.679830,-0.030618,11.203056,0.771617,6.684538,2.522713,...,-0.548313,-0.964698,-0.068365,0.081820,0.261724,0.762591,1.094326,0.882141,1.194913,0.677090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-05,0.775276,0.074854,1.050567,0.634033,0.670079,1.128382,0.521862,0.833300,1.790465,1.876593,...,0.638259,0.125695,1.457435,0.631157,0.168773,-0.026645,1.873390,-0.665786,-0.203915,0.405447
2021-08-06,-0.398522,-0.476707,-0.020723,-0.919732,0.070101,0.148775,-2.173157,-0.376510,-1.313171,-0.402610,...,0.599929,-0.304875,-0.826845,0.055667,0.012964,-0.459331,-0.803267,-0.610198,0.211374,-0.103540
2021-08-09,0.164602,-0.034216,-0.390384,-0.091775,0.704927,-0.522688,2.096987,0.865266,-0.348624,-0.497251,...,-0.698586,-0.215864,-0.111424,0.241100,0.012962,-0.154502,0.191069,17.100938,0.534353,-1.300793
2021-08-10,-0.485121,-0.335403,-0.655493,-0.634082,0.068473,-0.132734,-0.528191,-0.077426,-1.768907,-1.358979,...,0.291699,0.252388,-0.794266,-0.203516,0.051822,-0.499295,0.581197,-5.719651,0.146857,-0.420059
2021-08-11,-0.292142,0.305626,0.122149,-1.169334,-0.238958,-0.196273,-0.350708,-0.052993,-1.423256,0.837557,...,0.812658,0.620394,-0.715339,0.519100,0.597625,0.322439,0.088908,-18.304299,0.754191,0.036914

In [31]:
import scipy
from scipy import stats

Beta = []

for i in range(returns.shape[1]):
    beta,alpha,r_value,p_value,std_error = stats.linregress(returns.iloc[1:,i],returns.iloc[1:,0])
    Beta.append(beta)
    
Beta

[1.0,
 0.5215077818867914,
 0.7035271227149171,
 0.5425513565263019,
 0.5604819074370262,
 0.42928353887577547,
 0.19034155541143433,
 0.5576295400190083,
 0.362835805337048,
 0.3865310511806037,
 0.5394298065130356,
 0.4047878982441106,
 0.38507619100339585,
 0.2925469665210966,
 0.31784525946701175,
 0.6332951889061574,
 0.5581169280556609,
 0.6470785392540842,
 0.07481350754013179,
 0.46990198446632003,
 0.5747924457942203]

In [40]:
dictionary = dict(zip(Tickers, Beta))
df = pd.DataFrame(dictionary,index = range(0,22))
df = df.drop(df.index[range(1,df.shape[0])])
df

,^IXIC,AAPL,MSFT,AMZN,GOOG,FB,TSLA,GOOGL,NVDA,PYPL,...,CMCSA,CSCO,NFLX,INTC,PEP,AVGO,COST,MRNA,TMUS,TXN
0,1.0,0.521508,0.703527,0.542551,0.560482,0.429284,0.190342,0.55763,0.362836,0.386531,...,0.404788,0.385076,0.292547,0.317845,0.633295,0.558117,0.647079,0.074814,0.469902,0.574792

In [47]:
df1 = df.transpose()
df1

              0
^IXIC  1.000000
AAPL   0.521508
MSFT   0.703527
AMZN   0.542551
GOOG   0.560482
FB     0.429284
TSLA   0.190342
GOOGL  0.557630
NVDA   0.362836
PYPL   0.386531
ADBE   0.539430
CMCSA  0.404788
CSCO   0.385076
NFLX   0.292547
INTC   0.317845
PEP    0.633295
AVGO   0.558117
COST   0.647079
MRNA   0.074814
TMUS   0.469902
TXN    0.574792

In [52]:
Beta_rank = df1.sort_values(by = [0],ascending = True)
Beta_rank.head(5)

             0
MRNA  0.074814
TSLA  0.190342
NFLX  0.292547
INTC  0.317845
NVDA  0.362836